body {
    background-color: #000000;
}


@font-face {
    src:url("DINBla.otf");
    font-family: "DIN";
  }

@font-face {
    src:url("DINLig.otf");
    font-family: "DIN";
    font-weight: 200;
  }

h1 {
    color: #000000;
    font-family: "DIN", sans-serif;
    font-size: 400px;
    line-height: 100%;
    text-align: center;
    margin-top: 40px;
    color: white;
  }

  h2 {
      color: #000000;
      font-family: "DIN", sans-serif;
      font-size: 40px;
      line-height: 100%;
      text-align: center;
      margin-top: -300px;
      color: white;
    }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
}
